StockProj/WebContent/wsdl/StockQuoteSoap.wsdl

<?xml version="1.0" encoding="utf-8" standalone="no"?>
<!-- http://www.webservicex.net/stockquote.asmx?WSDL --><wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:tns="http://www.webserviceX.NET/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://www.webserviceX.NET/">
    
  <wsdl:types>
        
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.webserviceX.NET/">
            
      <s:element name="GetQuote">
                
        <s:complexType>
                    
          <s:sequence>
                        
            <s:element maxOccurs="1" minOccurs="0" name="symbol" type="s:string"/>
                      
          </s:sequence>
                  
        </s:complexType>
              
      </s:element>
            
      <s:element name="GetQuoteResponse">
                
        <s:complexType>
                    
          <s:sequence>
                        
            <s:element maxOccurs="1" minOccurs="0" name="GetQuoteResult" type="s:float"/>
                      
          </s:sequence>
                  
        </s:complexType>
              
      </s:element>
            
      <s:element name="string" nillable="true" type="s:string"/>
          
    </s:schema>
      
  </wsdl:types>
    
  <wsdl:message name="GetQuoteSoapIn">
        
    <wsdl:part element="tns:GetQuote" name="parameters"/>
      
  </wsdl:message>
    
  <wsdl:message name="GetQuoteSoapOut">
        
    <wsdl:part element="tns:GetQuoteResponse" name="parameters"/>
      
  </wsdl:message>
    
  <wsdl:portType name="StockQuoteSoap">
        
    <wsdl:operation name="GetQuote">
            
      <wsdl:documentation>Get Stock quote for a company Symbol</wsdl:documentation>
            
      <wsdl:input message="tns:GetQuoteSoapIn"/>
            
      <wsdl:output message="tns:GetQuoteSoapOut"/>
          
    </wsdl:operation>
      
  </wsdl:portType>
    
  <wsdl:binding name="StockQuoteSoap" type="tns:StockQuoteSoap">
        
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        
    <wsdl:operation name="GetQuote">
            
      <soap:operation soapAction="http://www.webserviceX.NET/GetQuote" style="document"/>
            
      <wsdl:input>
                
        <soap:body use="literal"/>
              
      </wsdl:input>
            
      <wsdl:output>
                
        <soap:body use="literal"/>
              
      </wsdl:output>
          
    </wsdl:operation>
      
  </wsdl:binding>
    
  <wsdl:service name="StockQuote">
        
    <wsdl:port binding="tns:StockQuoteSoap" name="StockQuoteSoap">
            
      <soap:address location="http://localhost:8080/StockProj/services/StockQuoteSoap"/>
          
    </wsdl:port>
      
  </wsdl:service>
  
</wsdl:definitions>
